h1{ text-align: center;
    text-decoration:underline;
    text-decoration-color: rgb(167, 124, 110);
}

#header-container{
    margin-top: 5%;

}

.btn-container{display:flex;
flex-direction: row;
justify-content:center;
margin-top: 3%;

}

.menu{border: solid burlywood;
    text-decoration-color: burlywood;
border-radius: 10px;}

#all-menu{margin-right: 5px;}

#breakfast-menu{margin-right: 5px;}

#lunch-menu{margin-right: 5px;}

#treats-menu{margin-right: 5px;}